<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>
<p>To do list</p>
<ul> <%= @tasks.each do |task| %>
  <li>
  <%= link_to(task.name, task_path(id: task.id)) %>
  <% end %>
</ul> 


